[branch]
        autosetuprebase = always
[rebase]
        stat = true
[core]
        excludesfile = ~/.gitignore_global
        editor = emacsclient -t -a=\\\"\\\"
	pager = less -F -X
[merge]
        tool = ediff
[mergetool "ediff"]
        cmd = emacsclient -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[color]
        ui = true
[grep]
        lineNumber = true
	fullName = true
[pull]
        rebase = true
[push]
        default = tracking
[alias]
        st = status
        co = checkout
        br = branch
        ci = commit
	cp = cherry-pick
	#TODO: log -p ORIG_HEAD..


